@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*font-family: 'Bebas Neue', cursive; */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #1f1f1f;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    
    margin: 0 auto;
}


.header{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(images/bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    position: fixed;
}

.logo{
    font-size: 24px;
    color: #CF2D3A;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    display: block;
}

.menu .navbar ul li a:hover{
    color: #CF2D3A;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    text-align: center;
    margin-bottom: 45px;
}

.header-txt h1, span , h3{
    font-size: 110px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #CF2D3A;
    margin-bottom: 15px;
}

.header-txt span{
    font-size: 25px;
}

.header-txt p{
    color: #afafaf;
    padding: 0 250px;
    margin: 25px 0;
}

.btn-1{
    display: inline-block;
    padding: 11px 25px;
    background-color: #d82e37;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    margin: 15px 0;
    border: 0;
}

.btn-1:hover{
    background-color: #b4272e;
}

.header-direccion{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 60px;
}

.dir h3{
    font-size: 18px;
}

.dir p{
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
}

.welcome{
    display: flex;
    height: 700px;
}

.welcome-1{
    background-image: url(images/a1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    min-height: 100vh;
    
}

.welcome-2{
    width: 50%;
    padding: 80px 120px;
    background-color: #191919;
    justify-content: center;
    min-height: 100vh;
}

h2{
    font-size: 90px;
    line-height: 100px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 20px;
}

p{
    font-size: 16px;
    color: #afafaf;
    margin: 25px 0;
}

.b1 {
    color: #CF2D3A;
}

.servicios {
    padding: 50px 0px;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
}

.servicios-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    border: 1px solid #CF2D3A;
    width: 80px;
}

.servicios-txt p {
    padding: 20px 80px;
}

.servicios-group {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}

.servicios-1 {
    background-color: #070707;
    padding: 35px 25px;
    margin: 0 10px;
    border-radius: 15px;
}

.servicios-1 img {
    width: 25px;
    margin-bottom: 15px;
}

.servicios-1 h3{
    font-size: 25px;
    color: #ffffff;
}

.servicios-1 a {
    color: #CF2D3A;
}
.prices {
    display: flex;
    height: 630px;

}

.prices-1 {
    width: 50%;
    padding: 80px 60px;
    background-color: #191919;
    justify-content: center;
}

table {
    margin: 30px 0;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #afafaf;
    margin-bottom: 20px;
}

th {
    color: #ffffff;
    padding-bottom: 15px;
}

td {
    color: #CF2D3A;
}

.prices-2 {
    background-image: url(images/a2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.personal {
    padding: 100px 0;
    text-align: center;
}

.personal-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    padding: 0 10px;
}

.personal-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.personal-1 {
    text-align: center;
}

.personal-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.personal-1 h3 {
    font-size: 22px ;
}

.personal-1 p{
    padding: 0 50px;
}

.personal-1 a {
    color: #CF2D3A;
}

.footer-bg {
    background-image: url(images/bg-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campo-1 {
    margin-bottom: 15px;
}

.campo {
    margin: 5px;
    padding: 20px 15px;
    width: 250px;
    background-color: #0E0E0E;
    border: 1px solid #CF2D3A;
    outline: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 14px
}

textarea {
    width: 520px !important;
}

.footer-txt {
    text-align: center;
    padding: 10px;
    background-color: #070707;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }
    
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1f1f1f;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar{
    display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 80px 30px 50px 30px;
    }
    .header-txt {
        margin-bottom: 15px;
    }

    .header-txt h1 {
        font-size: 90px;
    }

    .header-txt p {
        padding: 0;
        margin: 15px 0;
    }

    .header-direccion {
        flex-direction: column;
    }

    .dir p {
        font-size: 18px;
    }

    .welcome {
        flex-direction: column;
    }

    .welcome-1 {
        display: none;
    }

    .welcome-2 {
        width: 100%;
        padding: 120px 50px;
        text-align: center;
    }

    h2 {
        font-size: 70px;
        line-height: 80px;
    }

    p {
        margin: 15px 0;
    }

    .servicios {
        padding: 30px;
    }

    .servicios-txt p {
        padding: 0;

    }

    .servicios-group {
        flex-direction: column;
        margin: 0;
    }

    .servicios-1 {
        margin: 0 0 20px 0;
    }

    .prices {
        flex-direction: column;
        height: 550px;
    }

    .prices-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    table {
        margin: 25px 0 0 0;
    }

    .prices-2 {
        display: none;
    }

    .personal {
        padding: 30px;
    }
    .personal-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .personal-1 {
        margin-bottom: 25px;
    }

    .footer-bg {
        padding: 30px;
    }

    textarea {
        width: 250px !important;
        height: 100px;
    }
}